* {
  padding: 0px;
  margin: 0px;
}
body {
  /* overflow: hidden; */
  background-color: rgb(217, 214, 212);
}

.contact-title {
  text-align: center;
  color: #555;
  line-height: 50px;
  margin: 10px 40px 10px 40px;
}
.contact-title::after {
  content: "";
  background-color: rgb(206, 45, 45);
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.contact-row {
  display: flex;
  padding: 2rem;
  align-items: center;
  margin: 20px;
  border: 2px solid black;
  gap: 2rem;
}

.contact-column {
  flex-basis: 50%;
  margin-top: 5px;
}

.contact-colum-1 {
  flex-basis: 50%;
  margin-top: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 14px;
}

input[type="submit"] {
  background-color: rgb(210, 42, 42);
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input:invalid {
  border: 1px solid red;
}
input:valid {
  border: 1px solid green;
}

textarea:invalid {
  border: 1px solid red;
}
textarea:valid {
  border: 1px solid green;
}

.error {
  color: red;
}

/* media query for ipad pro */
@media only screen and (max-width: 1100px) {
  .contact-row{
    flex-direction: column;
    padding: 1rem;
  }
  .contact-column{
    width: 100%;
  }
}

/* media query for ipad */
@media only screen and (max-width: 900px) {
  .contact-row{
    flex-direction: column;
    padding: 2rem;
  }
  .contact-column{
    width: 100%;
  }
}

/* media query for iphone pro  */
@media only screen and (max-width: 600px) {
  .contact-row{
    flex-direction: column;
    padding: 4rem;
  }
  .contact-column{
    width: 100%;
  }
}

/* media query for normal mobile screen */
@media only screen and (max-width: 300px) {
  .contact-row{
    flex-direction: column;
    padding: 6rem;
  }
  .contact-column{
    width: 100%;
  }
}
